@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body,html  {
    background-color: rgb(197, 194, 194);
}


header {
    background-color: #ffffff;
}

h1 {
    text-align: center;
    padding: 10px;
    color: #9a6f11;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#menu {
    background-color: #161616;
    color: #9a6f11;
    display:block;
    text-align: center;
    cursor: pointer;
    padding: 10px;
}

#menu:hover {
    background-color: #9a6f11;
    color: #161616;
}
nav {
    display: none;
}

ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: #161616;
    border: 1.5px solid #9a6f11;
}

nav>ul>li>a:hover {
    background-color: #353535;
}

main {
    width: 85vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
}

h2 {
    margin-bottom: 4px;
}

article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;

}