

body {
    background-color: black;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    background-color: gray
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}